In [1]:
# Import libraries
import pandas as pd

In [2]:
# Loading raw data
raw_csv_data = pd.read_csv("resources/Absenteeism-data.csv")

In [3]:
df = raw_csv_data.copy()

In [5]:
#Display every single rows and columns from the dataset
pd.options.display.max_columns = None
pd.options.display.max_rows = None

In [6]:
df.head(2)

,ID,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,11,26,07/07/2015,289,36,33,239.554,30,1,2,1,4
1,36,0,14/07/2015,118,13,50,239.554,31,1,1,0,0

In [9]:
new_df=df.drop(['Absenteeism Time in Hours'], axis = 1)

In [10]:
new_df.head()

,ID,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets
0,11,26,07/07/2015,289,36,33,239.554,30,1,2,1
1,36,0,14/07/2015,118,13,50,239.554,31,1,1,0
2,3,23,15/07/2015,179,51,38,239.554,31,1,0,0
3,7,7,16/07/2015,279,5,39,239.554,24,1,2,0
4,11,23,23/07/2015,289,36,33,239.554,30,1,2,1

In [12]:
new_df.to_csv('Testing_Absenteeism_predictions.csv', index = False)